# **Phase 2 Restaurant Opening Applications**

This data will be another resource we will use to analyze the amount of restaurants that have closed. We will compare the amount of restaurants in this data to the amount of restaurants that were active during this same time last year. We will use this along with the eater data, to illustrates restaurants that did not make it. All data will be compared to this same time last year. The idea is that if they have an application they survived the pandemic at this point in time.

In [36]:
# Import necessary libraries and dependencies.
import pandas as pd
import numpy as np
from pathlib import Path
import csv
import sqlalchemy 
from sqlalchemy import create_engine

In [2]:
csv_path=Path("open_restaurant_applications.csv")

In [3]:
applications_df=pd.read_csv(csv_path)

In [4]:
applications_df.head()

,objectid,globalid,Seating Interest (Sidewalk/Roadway/Both),Restaurant Name,Legal Business Name,Doing Business As (DBA),Building Number,Street,Borough,Postcode,...,healthCompliance_terms,Time of Submission,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,32,ae5914d4-6080-4144-8634-98ca22b215de,sidewalk,Arbuz Cafe,Arbuz Cafe NY inc.,Arbuz Cafe NY inc.,1706,Sheepshead Bay Rd,Brooklyn,11235,...,yes,06/19/2020,40.585724,-73.951767,315.0,48.0,606.0,3343289.0,3.087700e+09,Sheepshead Bay-Gerritsen Beach-Manhattan Beach
1,33,81a2bad2-5bdc-49ed-8bb6-9dc3f9798732,roadway,Nerai,Koureli Restaurant Group Inc,Nerai,55,East 54th Street,Manhattan,10022,...,yes,06/19/2020,40.760117,-73.973162,105.0,4.0,102.0,1035748.0,1.012900e+09,Midtown-Midtown South
2,34,b4bcb3a5-e2f7-4069-8c3b-21f47f051a63,roadway,Hill Country,"Hill Country New York, LLC",Hill Country,30,West 26th,Manhattan,10010,...,yes,06/19/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35,a1054682-ff93-4b07-8f99-daa2a7b0daaf,both,Sundays Well,Two Bridge Tavern LLC,Sundays Well,360,3rd Ave,Manhattan,10016,...,yes,06/19/2020,40.740892,-73.981657,106.0,2.0,68.0,1018142.0,1.008820e+09,Gramercy
4,36,1dd1f4e5-3e2c-4522-89e4-b3f4fc802436,roadway,"Le Baba Cool, Inc","Le Baba Cool, Inc","Le Baba Cool, Inc",64,Lafayette AVe,Brooklyn,11217,...,yes,06/19/2020,40.687102,-73.975365,302.0,35.0,35.0,3059298.0,3.021160e+09,Fort Greene

In [5]:
open_restaurants=applications_df.drop(columns=["globalid","Community Board","Council District","Census Tract","BIN","BBL"])

In [8]:
open_restaurants=open_restaurants.drop(columns=["Qualify Alcohol","SLA Serial Number","SLA License Type","Landmark District or Building","landmarkDistrict_terms","healthCompliance_terms"])

In [10]:
open_restaurants=open_restaurants.drop(columns=["Sidewalk Dimensions (Area)","Roadway Dimensions (Length)","Roadway Dimensions (Width)","Roadway Dimensions (Area)","Approved for Sidewalk Seating","Approved for Roadway Seating"])

In [14]:
open_restaurants=open_restaurants.drop(columns=["Food Service Establishment Permit #", "Sidewalk Dimensions (Length)", "Sidewalk Dimensions (Width)"])

In [31]:
open_restaurants=open_restaurants.rename(columns={"Seating Interest Sidewalk-Roadway-Both": "Seating Interest"})

In [32]:
open_restaurants.head()

,objectid,Seating Interest,Restaurant Name,Legal Business Name,Doing Business As (DBA),Building Number,Street,Borough,Postcode,Business Address,Time of Submission,Latitude,Longitude,NTA
0,32,sidewalk,Arbuz Cafe,Arbuz Cafe NY inc.,Arbuz Cafe NY inc.,1706,Sheepshead Bay Rd,Brooklyn,11235,"1706 Sheepshead Bay Rd, Brooklyn, NY",06/19/2020,40.585724,-73.951767,Sheepshead Bay-Gerritsen Beach-Manhattan Beach
1,33,roadway,Nerai,Koureli Restaurant Group Inc,Nerai,55,East 54th Street,Manhattan,10022,"55 East 54th Street, Manhattan, NY",06/19/2020,40.760117,-73.973162,Midtown-Midtown South
2,34,roadway,Hill Country,"Hill Country New York, LLC",Hill Country,30,West 26th,Manhattan,10010,"30 West 26th, Manhattan, NY",06/19/2020,NaN,NaN,NaN
3,35,both,Sundays Well,Two Bridge Tavern LLC,Sundays Well,360,3rd Ave,Manhattan,10016,"360 3rd Ave, Manhattan, NY",06/19/2020,40.740892,-73.981657,Gramercy
4,36,roadway,"Le Baba Cool, Inc","Le Baba Cool, Inc","Le Baba Cool, Inc",64,Lafayette AVe,Brooklyn,11217,"64 Lafayette AVe, Brooklyn, NY",06/19/2020,40.687102,-73.975365,Fort Greene

In [33]:
# Create New CSV
open_restaurants.to_csv("clean_open_restaurants.csv")

In [37]:
# Import data grouped by zip code from SQL
engine=create_engine("postgresql://postgres:postgres@localhost:5432/pandemic_eater_db")

In [38]:
query_low="SELECT*FROM low_income_open_restaurants"

In [39]:
query_mid="SELECT*FROM mid_income_open_restaurants"

In [40]:
query_high="SELECT*FROM high_income_open_restaurants"

In [41]:
low_income_open=pd.read_sql(query_low,engine)

In [50]:
# Low Income.
low_income_open.head()

,blank,objectid,seating_interest,restaurant_name,legal_business_name,dba,building_number,street,borough,postcode,business_address,time_of_submission,latitude,longitude,nta
0,94,126,both,Mottley Kitchen,Mottley Kitchen LLC,Mottley Kitchen LLC,402,East 140th Street,Bronx,10454,"402 East 140th Street, Bronx, NY",06/19/2020,40.810158,-73.92138299999999,Mott Haven-Port Morris
1,403,435,both,MG 54 BAR AND LOUNGE INC,MG 54 BAR AND LOUNGE INC,MG 54 BAR AND LOUNGE INC,1548,University,Bronx,10452,"1548 University, Bronx, NY",06/19/2020,None,None,None
2,949,981,sidewalk,Seis Vecinos,J&J Prospect Corp,Seis Vecinos Restaurant,640,Prospect Ave,Bronx,10455,"640 Prospect Ave, Bronx, NY",06/19/2020,40.815227,-73.903396,Longwood
3,974,1006,both,The Bronx Beer Hall,The Bronx Beer Hall,The Bronx Beer Hall,2344,Arthur Avenue,Bronx,10460,"2344 Arthur Avenue , Bronx, NY",06/19/2020,40.854246999999994,-73.888674,Belmont
4,1490,1522,sidewalk,El tunnel restaurant & tapas bar inc,El tunnel restaurant & tapas bar inc,El tunnel restaurant & tapas bar inc,2026,Webster ave,Bronx,10457,"2026 Webster ave, Bronx, NY",06/19/2020,40.850929,-73.898996,Mount Hope

In [53]:
low_income_open.to_csv("low_income_open.csv")

In [51]:
# Mid Income.
mid_income_open=pd.read_sql(query_mid,engine)

In [47]:
mid_income_open.head()

,blank,objectid,seating_interest,restaurant_name,legal_business_name,dba,building_number,street,borough,postcode,business_address,time_of_submission,latitude,longitude,nta
0,50,82,both,Bar Meridian,Prospective Crown LLC,Bar Meridian,406,Prospect Place,Brooklyn,11238,"406 Prospect Place, Brooklyn, NY",06/19/2020,40.676419,-73.962971,Prospect Heights
1,60,92,both,5 burro cafe,Marlaâ€™s food corp,5 burro cafe,7205,Austin Street,Queens,11375,"7205 Austin Street , Queens, NY",06/19/2020,40.719248,-73.84236999999999,Forest Hills
2,108,140,sidewalk,Empellon Al Pastor,"SADA 3, LLC",Empellon Al Pastor,132,St. Marks Place,Manhattan,10009,"132 St. Marks Place, Manhattan, NY",06/19/2020,40.727196,-73.98437,East Village
3,109,141,both,Otway,St james 930 LLC,Otway,930,Fulton street,Brooklyn,11238,"930 Fulton street, Brooklyn, NY",06/19/2020,40.682833,-73.963833,Clinton Hill
4,143,175,both,Laila restaurant,Laila restaurant & lounge inc,Laila restaurant & lounge inc,45,Page ave,Staten Island,10309,"45 Page ave , Staten Island, NY",06/19/2020,40.522783000000004,-74.23491700000001,Charleston-Richmond Valley-Tottenville

In [54]:
mid_income_open.to_csv("mid_income_open.csv")

In [48]:
# High Income.
high_income_open=pd.read_sql(query_high,engine)

In [52]:
high_income_open.head()

,blank,objectid,seating_interest,restaurant_name,legal_business_name,dba,building_number,street,borough,postcode,business_address,time_of_submission,latitude,longitude,nta
0,1,33,roadway,Nerai,Koureli Restaurant Group Inc,Nerai,55,East 54th Street,Manhattan,10022,"55 East 54th Street, Manhattan, NY",06/19/2020,40.760117,-73.973162,Midtown-Midtown South
1,11,43,roadway,Khe-Yo,KioRestaurant,Khe-Yo,157,Duane St.,Manhattan,10013,"157 Duane St., Manhattan, NY",06/19/2020,40.716761,-74.008744,SoHo-TriBeCa-Civic Center-Little Italy
2,16,48,both,Aunt Jake's,133 Mulberry Operating Corp Inc,Aunt Jake's,133,Mulberry Street,Manhattan,10013,"133 Mulberry Street, Manhattan, NY",06/19/2020,40.718455,-73.99776,SoHo-TriBeCa-Civic Center-Little Italy
3,28,60,sidewalk,Blossom on Columbus,Blossom West Inc,Blossom on Columbus,507,Columbus Ave,Manhattan,10024,"507 Columbus Ave, Manhattan, NY",06/19/2020,40.78546,-73.97291,Upper West Side
4,36,68,both,Jean Claude restaurant,Serena Wah Inc,Jean Claude 2,1343,2nd Avenue,Manhattan,10021,"1343 2nd Avenue , Manhattan, NY",06/19/2020,40.767933,-73.959011,Lenox Hill-Roosevelt Island

In [55]:
high_income_open.to_csv("high_income_open.csv")